extends layout.pug

block content
  img(src="http://images1.memedroid.com/images/UPLOADED11/505e3a8e28a0f.png")

  ul
    li 
      a(href="http://localhost:3000/data") http://localhost:3000/data 
    li  
      a(href="http://localhost:3000/sum.html") http://localhost:3000/sum.html
    li  
      a(href="http://localhost:3000/myName") http://localhost:3000/myName