extends layout.pug

block content
  img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXdsZiXTXWzZcyFmEE31yH_1SPUe-Xfmai4wWY5siuCrZUtRuMT0ujvFdp241N11kpGFc&usqp=CAU")
  h4 Please sign up below
    form(action="/sign_up" method="POST") 
      div
        label(for="email") Email:
        input(name="email" type="email" required ) 
      div 
        label(for="password") Password: 
        input(name="password" type="password" required ) 
        button(type="submit") Sign Up

  div 
  h4 Please sign in below
    form(action="/sign_in" method="POST")
      div 
        label(for="email") Email:
        input(name="email" type="email" required ) 
      div
        label(for="password") Password:
        input(name="password" type="password" required )
        button(type="submit") Sign In